body {
  width: 70%;
  margin: auto;
  padding-bottom: 1em;
}

textarea {
  width: 100%;
  height: 60vh;
}

textarea ~ button {
  margin-top: 1em;
}

#error {
  color: red;
  margin: 1em 0;
}

span[id^=code-] {
	font-family: monospace;
	cursor: pointer;
	white-space: pre;
}

#done-button {
  margin-top: 2em;
  clear: both;
  display: block;
}